    /**
     * set{METHOD_NAME}
     *
     * @param mixed ${PARAM_NAME} the {PARAM_NAME}
     * @return void
     */
    public function set{METHOD_NAME}(${PARAM_NAME})
    {
        $this->{PARAM_NAME} = ${PARAM_NAME};
    }