.stamp.*
cache.properties
temp_report.report
.idea
vendor
/.db.conf.json
/.ddb
/php/api/build/api/
/php/api/build/coverage
/php/api/build/logs
/php/api/build/phpdox/
/php/api/build/pdepend
/php/common/build/api/
/php/common/build/coverage
/php/common/build/logs
/php/common/build/phpdox/
/php/common/build/pdepend
/php/job/build/api/
/php/job/build/coverage
/php/job/build/logs
/php/job/build/phpdox/
/php/job/build/pdepend
