<section class="static-page">
  <div class="col-5-12">
    <p class="illustrations"><img src="images/png/login.png" alt="login icon" /></p>
  </div>
  <div class="col-7-12 col-omega">
    <p class="description" translate="passwordReset.description"></p>
    <form class="clearfix" name="pwResetForm" ng-submit="send()" ng-enter="send()" novalidate>
      <div class="form">
        <div class="error" ng-show="error.length > 0">
          <ul>
            <li ng-repeat="err in error track by $index" ng-bind="err"></li>
          </ul>
        </div>
        <div class="form-group">
          <input class="form-control" id="pwd1" name="pwd1" autocomplete="off" ng-model="data.pwd1" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/" placeholder="{{ 'passwordReset.placeholderPw1' | translate }}" auto-focus required="" type="password"/>
          <p ng-show="pwResetForm.pwd1.$touched && pwResetForm.pwd1.$dirty && pwResetForm.pwd1.$invalid" class="error" translate="passwordReset.errorPw1"></p>
        </div>
        <div class="form-group">
          <input class="form-control" id="pwd2" name="pwd2" autocomplete="off" field-match="data.pwd1" placeholder="{{ 'passwordReset.placeholderPw2' | translate }}" ng-model="data.pwd2" required="" type="password"/>
          <p ng-show="pwResetForm.pwd2.$touched && pwResetForm.pwd2.$dirty && pwResetForm.pwd2.$invalid" class="error" translate="passwordReset.errorPw2"></p>
        </div>
        <div class="form-group clearfix">
          <p class="push-2-12">
            <button class="col-10-12 mobile-col-10-12" ng-disabled="pwResetForm.$invalid" translate="passwordReset.btnSend"></button>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
