<section class="static-page">
  <div class="col-5-12">
    <p class="illustrations"><img src="images/png/login.png" alt="login icon" /></p>
  </div>
  <div class="col-7-12 col-omega">
    <form class="clearfix" name="pwRecoveryForm" ng-submit="send()" novalidate>
      <div class="form">
        <div class="error" ng-show="error.length > 0">
          <ul>
            <li ng-repeat="err in error track by $index" ng-bind="err"></li>
          </ul>
        </div>
        <div class="form-group">
          <input placeholder="{{ 'passwordRecovery.placeholderEmail' | translate }}" class="form-control" id="username" name="username" ng-model="username" auto-focus required="" type="email"/>
          <p ng-show="pwRecoveryForm.username.$touched && pwRecoveryForm.username.$dirty && pwRecoveryForm.username.$invalid" class="error" translate="passwordRecovery.errorEmail"></p>
        </div>
        <div class="form-group clearfix">
          <p class="push-2-12">
            <button class="col-10-12 mobile-col-10-12" ng-disabled="pwRecoveryForm.$invalid" translate="passwordRecovery.btnSend"></button>
          </p>
        </div>
      </div>
    </form>
  </div>
</section>
