<section class="static-page">
  <article class="clearfix product">
    <div class="col-5-12">
      <p class="centered illustrations"><img src="images/png/login.png" alt="werbung1 icon" /></p>
    </div>
    <div class="col-7-12 col-omega">
      <h1 translate="product.title1"></h1>
      <p class="more-space" translate="product.text1"></p>
    </div>
  </article>
  <article class="clearfix product">
    <div class="col-7-12 col-omega">
      <h2 translate="product.title2"></h2>
      <p class="more-space" translate="product.text2"></p>
    </div>
    <div class="col-5-12">
      <p class="centered illustrations"><img src="images/png/front1.png" alt="werbung2 icon" /></p>
    </div>
  </article>
  <article class="clearfix product">
    <div class="col-5-12">
      <p class="centered illustrations"><img src="images/png/front2.png" alt="werbung3 icon" /></p>
    </div>
    <div class="col-7-12 col-omega">
      <h2 translate="product.title3"></h2>
      <p class="more-space" translate="product.text3"></p>
    </div>
  </article>
</section>
